*, html {
    padding: 0;
    margin: 0;
}

:root {
    --header-height: 140px;
    --padding: 20px;
    --color-bg1: #3e84d0;
    --color-bg2: #387bc2;
}


body {
    width: 100vw;
    height: 100svh;

    background-color: var(--color-bg1);
    color: rgb(238, 238, 238);

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    overflow: hidden;

    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: var(--header-height) 1fr var(--header-height);
    grid-template-areas: 
    "header main"
    "nav main"
    "contact main";
}

.contact {
    grid-area: contact;
}


/*/ / GENERAL / /*/
p {
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    margin-top: var(--padding);
    padding: 10px 0;
    font-weight: bold;
}

h3:first-of-type {
    padding-top: 0;
}

h2, nav ul li {
    font-weight: 400;
}

/*/ / HEADER / /*/
header {
    display: flex;
    align-items: center;

    font-size: xx-large;
    /* background-color: var(--color-bg2); */

    padding: var(--padding);
}

#logo {
    height: calc(var(--header-height) - (2 * var(--padding)));
}

/*/ / NAV / /*/
nav {
    grid-area: nav;
    padding: var(--padding);
    /* background-color: var(--color-bg2); */
}

ul {
    list-style: none;
}

li {
    font-size: 42px;
    text-underline-offset: 6px;
}

.current {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

li:hover:not(.current) {
    color: rgba(238, 238, 238, 0.9);
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

/*/ / TITLE / /*/
.title {
    display: flex;
    align-items: center;

    height: var(--header-height);

    margin-bottom: var(--padding);
}

h2 {
    font-size: 42px;
}

/*/ / main / / */
main {
    grid-area: main;
    display: none;
    font-size: larger;
    padding: var(--padding);
    padding-top: 0;
    overflow-y: auto;
    padding-right: calc(8 * var(--padding));
}

.active {
    display: block;
}

/*/ / Contact / /*/
.contact {
    display: flex;
    justify-content: center;
    font-size: x-large;
    line-height: 32px;
    padding: var(--padding);
    /* background-color: var(--color-bg2); */
}

.contact>.links {
    width: 50%;
}

.contact>.rechts {
    width: 50%;

}

.contact p {
    padding: 0;
}

/*/ / FOOTER / /*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: x-large;
    padding: var(--padding);
}

footer p {
    padding: 0;
    font-weight: 500;
    text-align: right;
}

/*/ / HOME / /*/
#home p {
    font-size: x-large;
    font-weight: normal;
}


.photowrapper {
    display: flex;
    flex-wrap: wrap;
    gap: var(--padding);
}

/*/ / PHOTOS / /*/

img {
    height: 300px;
    padding: var(--padding) 0;
    object-fit: cover;
}

#voorstelling img, #home img {
    width: 100%;
    height: auto;
}

/*/ / TextBlocks / /*/
.block {
    width: 47.5%;
}

.text-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*/ / VOORSTELLING / /*/
#voorstelling img {
    aspect-ratio: 4/3;
}

/*/ / ACTIVITEITEN / /*/
#activiteiten .text-blocks img {
    width: calc(50% - 0.5 * var(--padding));
}

#activiteiten>:last-child img{
    width: calc((100% / 3) - 0.75 * var(--padding));
}

