*, html {
    padding: 0;
    margin: 0;
}

:root {
    --header-height: 80px;
    --padding: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    width: 100vw;
    height: 100svh;

    background-color: #3e84d0;
    color: rgb(238, 238, 238);

    font-family: "Roboto", sans-serif;

    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: var(--header-height) 4fr var(--header-height);
    grid-template-areas: 
    "header title"
    "nav main"
    "telephone footer";
}

.title {
    grid-area: title;
}

.telephone {
    grid-area: telephone;
}


/*/ / GENERAL / /*/
p {
    font-weight: 300;
}

h2, nav ul li {
    font-weight: 400;
}

/*/ / HEADER / /*/
header {
    display: flex;
    align-items: center;

    font-size: xx-large;

    padding: var(--padding);
}

/*/ / NAV / /*/
nav {
    padding: var(--padding);
}

ul {
    list-style: none;
}

li {
    font-size: 42px;
    text-underline-offset: 6px;
}

.current {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

li:hover:not(.current) {
    color: rgb(206, 208, 255);
}

/*/ / TITLE / /*/
.title {
    display: flex;
    align-items: center;

    padding: var(--padding);
}

h2 {
    font-size: 42px;
}

/*/ / main / / */
main {
    display: none;
    font-size: larger;
    padding: var(--padding);
}

.active {
    display: block;
}

/*/ / TELEPHONE / /*/
.telephone {
    display: flex;
    align-items: center;
    font-size: xx-large;
    padding: var(--padding);
}

/*/ / FOOTER / /*/
footer {
    display: flex;

    font-size: xx-large;
    padding: var(--padding);
}